:root {
  /* --main-bg-color: #dfdfdf; */
  --main-bg-color: #f8f8f8;
  --accent-clr-main: #5cb3f2;
  --accent-clr-two: #f25c65;
  --accent-clr-three: #f2bf5c;
  --accent-clr-four: #955cf2;
  --text-clr-main: #333232;
  --text-clr-med: #5b5b5b;
  --text-clr-light: #c9c9c9;

  --fs-xxl: 8rem;
  --fs-xl: 2.25rem;
  --fs-l: 1.5rem;

  --card-height: 19.125em;

  @media (max-width: 1120px) {
    --fs-xxl: 6rem;
    --fs-xl: 2rem;
    --fs-l: 1rem;
  }

  @media (max-width: 768px) {
    --fs-xxl: 5rem;
    --fs-xl: 1.5rem;
  }

  @media (max-width: 654px) {
    --fs-xxl: 4rem;
  }

  @media (max-width: 480px) {
    --fs-xxl: 3rem;
  }
}

body {
  font-family: Poppins;
  color: var(--text-clr-main);
}

.site-wrapper {
  max-width: 1086px;
  margin: auto;
}

/* UTILITY */

.fs--xxl {
  font-size: var(--fs-xxl);
  margin: 0;
}

.fs--xl {
  font-size: var(--fs-xl);
}

.fs--l {
  font-size: var(--fs-l);
}

.txt--clr-med {
  color: var(--text-clr-med);
}

.pointer {
  cursor: pointer;
}

.m-auto {
  margin: auto;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-clr-main);
  width: 2em;
  height: 2em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #b9b9b9;
}

.icon-bg:hover {
  background-color: var(--accent-clr-three);
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #b9b9b9;
}

.card-container {
  height: var(--card-height);
}

.hr-small {
  display: inline-block;
  background-color: var(--accent-clr-main);
  width: 7.3rem;
  height: 3px;
  border: none;
}

.hr-center {
  background-color: var(--accent-clr-main);
  width: 7.3rem;
  height: 3px;
  border: none;
  margin-bottom: 2rem;
}

.cover {
  object-fit: cover;
}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.aspect-ratio-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FLEXBOX */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.grid-item {
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 769px) {
  .grid-center {
    grid-column: span 2;
    justify-self: center;
  }

  .grid-col-span {
    grid-column: span 2;
  }
}

/* HEADER */
.header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  height: 2.2rem;
}

.header > p {
  margin-right: auto;
}

.logo {
  font-size: var(--fs-l);
}

.btn-styled {
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  border: none;
  background-color: var(--accent-clr-two);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #b9b9b9;
}

/* PROFILE CARD */

.profile-card {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 10px;
}

.profile-flex {
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: space-between;
}

.profile-info > p,
h3 {
  margin: 0;
}

.profile-icons {
  display: flex;
  gap: 1rem;
  color: var(--main-bg-color);
}

/* ABOUT ME */

.about-me-container {
  display: grid;
  grid-template-rows: 15% 80%;
  gap: 1rem;
}

.work-status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 0.5rem 1rem;

  @media (max-width: 1570px) {
    height: 2.5rem;
  }
}

.about-me {
  padding: 0.5rem 1.5rem;
}

.about-me > h2 {
  margin: 0;
  margin-top: 0.5rem;
}

.about-me > p {
  margin-top: 0;
}

/* PROJECT HEADER */

.projects-head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-head-text {
  font-size: var(--fs-xxl);
  color: var(--accent-clr-main);
  text-transform: uppercase;
  margin: 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 75%;
  color: var(--text-clr-light);
  margin-bottom: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon:hover {
  color: var(--text-clr-main);
}

/* SERVICE CARD */

.service-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.service-card p {
  margin: 0;
}

.service-icon {
  width: 3.5rem;
  display: block;
}

/* CARD */

.projects-container {
  margin-top: 1rem;
}

.ots-logo {
  width: 13.125rem;
}

.import-firestore-logo {
  width: 2rem;
}

.card-hov {
  transition: transform 0.3s ease-in-out; /* Transition for the transform property */
}

.card-hov.hovered {
  transform: scale(1.015); /* Scale up slightly on hover */
}

/* CONTACT */

.cta-container {
  margin-left: 2rem;
}

.cta-text {
  font-size: var(--fs-xl);
}

.cta-container > p {
  color: var(--text-clr-med);
  margin-top: 0;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: auto;
  gap: 1rem;
  padding: 1rem;
}

span {
  color: var(--accent-clr-two);
}

.form-inputs {
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  border-radius: 5px;
}

textarea {
  height: 8rem;
}

.form-inputs:focus {
  outline: 2px solid var(--accent-clr-two);
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {
  .site-wrapper {
    max-width: 75%;
  }

  .grid-container {
    gap: 0.5rem;
  }

  .profile-card {
    height: 100%;
  }
}

@media (max-width: 1120px) {
  .site-wrapper {
    max-width: 85%;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    box-sizing: border-box;
  }

  .profile-card {
    flex-direction: column;
    padding-block: 0.5rem;
    box-sizing: border-box;
  }

  .profile-pic {
    width: 90%;
  }

  .profile-flex {
    width: 90%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-info {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .profile-card {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .profile-info {
    flex-direction: column;
    margin-top: 20%;
  }

  .profile-flex {
    flex-direction: column;
    height: 100%;
  }

  .about-me-container {
    grid-template-rows: 20% 75%;
    gap: 0.7rem;
  }

  form {
    grid-template-columns: 1fr;
  }

  .logo {
    justify-content: center;
  }
}

@media (max-width: 654px) {
  .site-wrapper {
    max-width: 98%;
  }

  .profile-pic {
    width: auto;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }
}

@media (max-width: 450px) {
  .profile-card {
    flex-direction: column;
  }

  .profile-pic {
    width: 100%;
  }

  .profile-flex {
    width: 100%;
  }

  .profile-info {
    flex-direction: row;
    margin: 0 0 1rem 0;
    align-items: center;
  }

  .profile-info > .location {
    margin-left: auto;
  }

  .about-me-container {
    grid-template-rows: 15% 80%;
  }
}
